{% extends "dashboard/dashboard.html" %} 

{% block dashboard %}

        {% comment %} Flash messages {% endcomment %}
        {% if messages %}
            <div class="max-w-7xl mx-auto p-4 lg:p-8">
                {% for message in messages %}
                    <div class="mb-4 px-4 py-3 rounded-lg {% if message.tags == 'success' %}bg-green-100 text-green-800{% elif message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-blue-100 text-blue-800{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% comment %} Flash messages End{% endcomment %}


		<div class="max-w-7xl mx-auto p-4 lg:p-8 space-y-6">
			<header class="flex items-center justify-between">
				<div>
					<h1 class="text-2xl font-semibold">Categories</h1>
					<p class="text-slate-500">Configure category types</p>
				</div>
				<div class="flex items-center gap-2">
					 <a href="{% url "category-add" %}"  class="px-4 py-2 bg-yellow-600 text-white rounded-lg hover:bg-blue-700">
                        Add Category
                    </a>
				</div>
			</header>

			<!-- Ticket Cards -->
			<section class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
				{% for category in categories  %}
				<div class="rounded-2xl border bg-white p-5">
					<div class="flex items-center justify-between">
						<h3 class="font-semibold">{{category.name}}</h3>
						<span class="text-sm text-slate-500 h-4 w-4 bg-green-500 rounded"></span>
					</div>
					<p class="mt-2 text-sm text-slate-600">{{category.description}}</p>
					<div class="mt-4 flex gap-2">
                        <a href="{% url "category-edit" category.id %}" class="px-3 py-2 rounded-xl border">Edit</a>
                        <form method="POST" action="{% url 'category-delete' category.id %}">
							{% csrf_token %}
							<button type="submit" class="px-3 py-2 rounded-xl border text-red-600">Delete</button>
						</form>
					</div>
				</div>
				{% endfor %}
			</section>
  		</div>

{% endblock dashboard %}


